<link rel="stylesheet" href="/css/_header.css" />


<header class="header">
    <div class="action">
        <div class="links">
            <a href="">
                <img src="" alt="" class="">
            </a>
        </div>
          
        <div class="links name"><a href="">Add Student</a></div>
        <div class="links name"><a href="">Add Interview</a></div>
        <div class="links name"><a href="">Download</a></div>
        <div class="links name"><a href="reset-password">Reset Password</a></div>
        <div class="links name"><a href=""></a></div>
        <div class="links name"><a href="sign-out">Sign Out</a></div>
    </div>
</header>