<link rel="stylesheet" href="/css/_header.css" />


<header class="header">
    <div class="action">
        <div class="links">
            <a href="">
                <img src="https://thumbs.dreamstime.com/b/placement-icon-trendy-flat-vector-white-backg-background-general-collection-illustration-can-be-use-web-mobile-eps-130335999.jpg" 
                alt="logo" 
                class="image">
            </a>
        </div>

    <div class="main">
        <div class="links-name1"><a href="/student/addStudent">Add Student</a></div>
        <div class="links-name2"><a href="/interview/addInterview">Add Interview</a></div>
        <div class="links-name3"><a href="csv/downloadcsv">Download</a></div>
        <div class="links-name4"><a href="reset-password">Reset Password</a></div>
        <div class="links-name5"><a href="sign-out">Sign Out</a></div>
    </div>

    </div>
</header>